body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    margin: 0% 25%;
    height: 100vh;
    width: 60%;

}

.container {
    background: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* animation: fadeIn 1s ease-in-out; */
    margin: 3%;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    animation: fadeInDown 1s ease-in-out;
}

.inp input, .inp select, .btn_add {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.inp input:focus, .inp select:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.btn_add {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn_add:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.table1 {
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #007BFF;
    color: white;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

footer {
    margin-top: 20px;
    text-align: center;
}
